body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
.NoScroll{
  overflow: hidden;
}


.boxHeight{
  height: 650px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 2em 0;
  }
}

.lineBaner {
  background: $primary;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.02em;
    line-height: normal;
    color: #fff;
    border-bottom: 3px solid #fff;
    width: fit-content;
    span {
      font-weight: 300;
      font-size: 21px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 1em;
      border-bottom: 0;
      span {
        font-size: 13px;
      }
    }
  }
}